.block {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  color: white;
  display: inline;
}
.영역1번 {
  background-color: red;
}
.영역2번 {
  background-color: orange;
}
.영역3번 {
  background-color: yellow;
}
.영역4번 {
  background-color: green;
}
.영역5번 {
  background-color: blue;
}
/*div 는 기본으로 block 스타일 깔림
      특정 div 위치에 디자인 부분적용시
      클래스명 옆에 클래스명 하나더 쓴다
      동일한 클래스명이 있으면 마지막게 적용됨*/
